Source: mbuffer
Section: utils
Priority: optional
Maintainer: Peter Pentchev <roam@ringlet.net>
Build-Depends: debhelper (>= 7.0.50), autotools-dev (>= 20100122.1),
	dpkg-dev (>= 1.15.7~), libmhash-dev
Standards-Version: 3.8.4
Homepage: http://www.maier-komor.de/mbuffer.html
Vcs-Svn: http://svn.ringlet.net/svn/ringlet/sysutils/mbuffer/trunk/mbuffer-pkg/debian/
Vcs-Browser: http://svn.ringlet.net/v/ringlet/sysutils/mbuffer/trunk/mbuffer-pkg/debian/
DM-Upload-Allowed: yes

Package: mbuffer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tool for buffering data streams
 The mbuffer tool is used to buffer data streams and show the I/O rate and
 summary to the user.  It is especially useful for writing backups to
 fast tape drives or streaming them over the network.  If used correctly,
 it can prevent buffer underruns and speed up the whole backup or
 transfer process.
